body {
  visibility: hidden;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  opacity: 0;
}

#container2 {
    padding: 0px 0px;
    margin-bottom: 30px;
  }

#container2 {
  background-color: black;
}
#navbar {
  background-color: #00BFFF;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
}


.d-flex {
  display: unset !important;
}

footer {
  flex-shrink: 0;
}

.slide img {
 max-height: 700px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  background-color: #00BFFF;
  color: white;
  width: 8em;
  border: 0;
}